.p-message .p-message-content {
    line-height: 1rem;
    padding: 0.75rem 1rem;
}

.p-message button.p-message-close-button {
    width: 1.5rem;
    height: 1.5rem;
}

.p-message svg.p-icon {
    width: 1rem !important;
    height: 1rem !important;
}