@font-face {
    font-family: 'Challenge Shadow';
    src: url('../assets/fonts/challenge.shadow.ttf') format('truetype');
}

@font-face {
    font-family: 'NK57';
    src: url('../assets/fonts/nk57-monospace.rg-regular.otf');
}

@font-face {
    font-family: 'Taurus Mono';
    src: url('../assets/fonts/taurus-mono-outline.regular.otf');
}